* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.firstDiv {
    margin: 100px;
    position: relative;
    width: 1140px;
    border-radius: 33px;
    height: 400px;
    background-image: url('./images/image (1).svg');

}

.loremContainer {
    position: absolute;
    font-size: 44px;
    color: white;
    font-family: "Poetsen One", sans-serif;
    margin: 20px 10px;
    padding: 10px;

}

.image {
    width: 1100px;
    border-radius: 33px;
    display: inline-block;
    align-items: center;
}


.firstBackground {
    display: inline-block;
    margin-top: 120px;
}

.background {
    width: 1137px;
    padding: 40px 32px 40px 32px;
    background-color: #EBF8FE;
    border-radius: 24px;
    margin-left: 143px;
    height: 350px;
    display: inline-block;

}

.title {
    color: #181D27;
    font-family: "inria sans", sans-serif;
    font-size: 56px;
    margin-left: 30px;
    text-align: center;
    display: inline-block;
    width: 971px;
}

.buttonFields {
    display: inline-block;
}

.firstParagraph {
    color: #535862;
    margin-top: 25px;
    font-weight: 400;
    width: 1061px;
    line-height: 44px;
    display: inline-block;
    font-family: "instrument sans", sans-serif;
    font-size: 32px;
}

.buttonTwo {
    width: 345px;
    display: inline-block;

}

.email {
    margin-left: 250px;
    display: inline-block;
    border: 1px solid #D5D7DA;
    border-radius: 8px;
    height: 48px;
    margin-top: 20px;
    width: 345px;
    padding: 12px 14px 12px 14px;

}

.subscribe {
    width: 83px;
    padding-right: 2px;
    padding-left: 2px;
    font-family: "inter", sans-serif;
    font-size: 16px;
    color: #FFF;
    display: inline-block;
    width: 119px;
    background-color: #007CB8;
    border-radius: 8px;
    border: 2px solid#FFFFFF;
    padding: 12px 18px 12px 18px;
    height: 48px;
    text-decoration: none;
    text-align: right;
    margin: 20px 14px;
}

.blueSubscribe {
    display: inline-block;
}

.buttonFields,
.blueSubscribe {
    vertical-align: top;
}

.buttonParagraph {
    color: #535862;
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
    font-family: "inter", sans-serif;
}

.privacy {
    color: #535862;
}

.secondDiv {
    margin-bottom: 100px;
    margin-top: 100px;
}

.secondBackground {
    background-color: #EBF8FE;
    width: 546px;
    height: 638px;
    margin-top: 70px;
    margin-left: 400px;
    border-radius: 24px;
    padding: 40px 32px 40px 32px;
}

.submit {
    font-family: "inria sans", sans-serif;
    font-size: 40px;
    color: #181D27;
}

.fullName,
.email {
    font-family: "Noto sans georgian", sans-serif;
    color: #1B003D;
    font-size: 14px;


}

.placeholder {
    margin-top: 30px;
}

.writeName {
    border: 1px solid#380054;
    border-radius: 8px;
    height: 48px;
    width: 482px;
    margin-top: 14px;
    color: #6D5F8B;
    width: 482px;
    display: inline-block;
    padding: 8px 16px 8px 16px;
}

.recomendation {
    color: #1B003D;
    margin-top: 20px;
    font-size: 14px;
    font-family: "Noto sans georgian";
}

.radioOption,
.vehicleType {
    align-items: center;
    margin-bottom: 10px;
}

.radioOption input {
    margin-right: 10px;
}

.recomendation {
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}